Flask
keras==2.11.0
numpy
pandas
pymongo
psycopg2
h5py
matplotlib
sqlalchemy
supervisor
# tensorflow==2.11.0
virtualenv
uwsgi
atomicwrites
attrs
Click
coverage
entrypoints
flake8
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mccabe
more-itertools
packaging
pathlib2
pluggy
py
pycodestyle
pyflakes
pymongo
pyparsing
pytest
pytest-cov
six
wcwidth
Werkzeug
zipp
